[submodule "parallel-rdp/parallel-rdp-standalone"]
	path = parallel-rdp/parallel-rdp-standalone
	url = https://github.com/ModLoader64/parallel-rdp-standalone-modloader.git
	branch = gopher64
[submodule "src/compat/sse2neon"]
	path = src/compat/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
	branch = master
[submodule "retroachievements/rcheevos"]
	path = retroachievements/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "rt64"]
	path = rt64
	url = https://github.com/ModLoader64/rt64-modloader.git
[submodule "modloader-abi"]
	path = modloader-abi
	url = https://github.com/ModLoader64/ModLoader-ABI.git
